body{
    background-color: blanchedalmond;
}
.topnav{
    display:block;
}
.topnav a{
    padding: 14px;
    text-decoration: none;
    color: black;
    float: right;
}
.image{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main{
    background-color: aliceblue;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #111;
}